html {
	font-family: Roboto, sans-serif;
}

.content {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.card {
	border: 1px solid;
	border-radius : 10px;
	margin-bottom: 8px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
	font-size: 1.2em;
	border-color:  gray;
}

.card-header {
	text-align: center;
}

.card-body {
	text-align: center;
	font-size: 1em;
}

.terms {
	font-size: 0.8em;
	text-align: left;
	margin: 8px;
	text-align: justify;
}


.button {
	color: rgb(255, 255, 255);
	background-color: rgb(255, 255, 255);


	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;

	border: 10px;
	border-radius: 2px;

	display: inline-block;

	cursor: pointer;
	height: 36px; line-height: 36px;
	text-align: center;

	text-transform: uppercase;

	padding-left: 16px;
	padding-right: 16px;
}

.card-action {
	background-color: rgb(0, 188, 212);
	margin: 16px;
}

.code {
	font-size: 1.2em;
	margin: 16px;
}

.code > .value {
	color: black;
	padding: 0 16px 0 16px;
	margin-left: 8px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
  padding-left: 8px;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}